@font-face {
    font-family: 'Thertole';
    src: url('../fonts/Thertole.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}

.alt-image-text {
    height: 180px;
}

:root {
    --jurassikGreen: #0B2418;
    --jurassikMoss: #1E4620;
    --jurassikOrange: #ba3b00;
    --jurassikYellow: #FFB800;
    --jurassikSand: #F5F2EB;
    --jurassikDark: #121212;
    --jurassikDarkSand: #ffe5a9;


}

.base-font {
    font-family: "Montserrat", "sans-serif";
}

body {
    font-family: "Montserrat", "sans-serif";
}

*,
*::before,
*::after {
    cursor: url(/icona-dinosauro.png), pointer;
}

a {
    cursor: url(/icona-dinosauro-pointer.png), pointer;
}

button.btn {
    cursor: url(/icona-dinosauro-pointer.png), pointer;
}

.btn {
    cursor: url(/icona-dinosauro-pointer.png), pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Thertole", "sans-serif";
    line-height: 1;

}

h1 {
    font-size: 10rem !important;
    line-height: normal !important;
}

h2 {
    font-size: 4rem !important;
}

h3 {
    font-size: 2.5rem !important;
}

h4,
h5 {
    font-size: 2rem !important;
}

.h1-5 {
    font-size: 6rem !important;
}

.subtitle {
    font-size: 2rem;
}

.logo {
    max-width: 100px;
}

.text-jurassik-light {
    color: var(--jurassikSand);
}

.text-jurassik-dark {
    color: var(--jurassikDark);
}

.bg-jurassik-green {
    background-image: linear-gradient(var(--jurassikGreen), var(--jurassikMoss));
}

.bg-jurassik-orange {
    background-color: var(--jurassikOrange);
}

.bg-jurassik-sand {
    background-color: var(--jurassikSand);
}

.bg-jurassik-sand-dark {
    background-color: var(--jurassikDarkSand);
}

.bg-jurassik-dark {
    background-color: var(--jurassikDark);
}

.hero {
    object-fit: cover;
}

.border-jurassik-dark {
    border-color: var(--jurassikDark) !important;
}

.product-image {
    min-height: 500px;
    object-fit: cover;
}

.w-80 {
    width: 80%;
}

.product-card {
    transition: scale 0.2s ease-in, box-shadow 0.2s ease-in;
}

.product-card:hover {
    scale: 1.02;
    box-shadow: 0px 0px 15px var(--jurassikOrange);
}

.separator {
    margin: 0 5px;
}

.stars {
    display: flex;
    gap: 0.25rem;
    margin: 0.5rem 0;
}

.star {
    color: #ffc107;
    font-size: 0.9rem;
}

.details-image {
    object-fit: cover;
    min-height: 500px;
}

.main-container {
    min-height: 20vh;
}